:root {
  --navbar-maxW: 250px;

  --hover-bg-element: #2d4457;
  --hover-color-element: #2196f3;
}

#navbar {
  position: sticky;
  top: 0;
  left:0;

  width: 250px;
  height: 100vh;

  background-color: var(--bg-1);
  border-right: 1px solid var(--border-c-1);

  display: flex;
  flex-direction: column;

  transition: all 0.2s;
  
}

.navbar-header {
  width: 250px;
  height: 50px;
  border-bottom: 1px solid var(--border-c-1);

  display: flex;
  transition: all 0.2s;

  & .navbar-title {
    width: 190px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
  }

  & .navbar-icon {
    border-radius: 50%;
    padding: 15.5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: 3px;
    font-size: 24px;
    transition: all 0.2s;

    &:hover {
      background-color: #5c5c5c85;
    }
  }
}


.navbar-content {
  flex: 1;
  overflow-y: auto;
  width: 250px;
  padding-top: 20px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.navbar-nav ul {
  list-style: none;

} 

.navbar-nav ul li a {
  display: flex;
  align-items: center;

  height: 60px;
  color: white;
  text-decoration: none;

  & .icon {
    width: 60px;
    padding-right: 2px;
    display: flex;
    justify-content: center;
    font-size: 24px;
  }
  & .label {
    flex: 1;
    /* padding-left: 10px; */
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.4px;
    line-height: 10px;
  }
}

.navbar-nav ul li:hover a {
  background-color: #2d4457;
  color: #2196f3;

}

.navbar-footer {
  width: 250px;
  height: 60px;
  border-top: 1px solid var(--border-c-1);

  display: flex;
  justify-content: center;
  align-items: center;

  & ul {
    display: flex;
    list-style: none;
    width: 100%;
    margin: 0 5px;
  }

  & ul li {
    padding: 5px 0;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & .icon {
      font-size: 24px;
    }

    & .label {
      font-size: 10px;
      letter-spacing: 1px;
      line-height: 0.5rem;
    }

    &:hover {
      background-color: var(--hover-bg-element);
      color: var(--hover-color-element);
    }
  }
}

#navbar.active {
  width: 60px;

  & .navbar-header {
    width: 60px;
    justify-content: center;

    & .navbar-title {
      display: none !important;
    }
  }
}

